@font-face {
    font-family: "Lobster";
    src: url("Lobster.ttf");
}


body {
    background-color: rgb(29, 29, 29);
    font-family: "Lobster";
}

canvas {
    display: block;
    margin: auto;
}

#game {
    font-family: 'Lobster';
}
